/*                                           */
/* Pablo Michó Fernández                     */
/*                                           */
/* CSS ejercicio: Déjà vu                    */
/*                                           */
/* 04/02/2020                                */
/*                                           */

body {
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
    text-align: justify;
  }
  
  h1 {
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: right;
  }
  
  h2 {
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: white 5px solid;
  }
  
  p {
    margin-left: 20%;
    margin-right: 20%;
  }

  hr {
    height: 2px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
  }
  
  p.Fecha {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
  }
  
  time {
    padding: 5px;
    background-color: gray;
    color: white;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  q {
    border-bottom: red 1px dashed;
    font-family: serif;
    font-size: 150%;
  }

  span.Nombre {
    font-variant: small-caps;
    font-weight: bold;
  }

  span.Cargo {
    background-color: white;
    color: red;
  }
  
  span.Sitio {
    color: blue;
  }